.radix-themes {
    --default-font-family: var(--font-inter) !important;
    --cursor-button: pointer !important;
    --cursor-checkbox: pointer !important;
    --cursor-disabled: default !important;
    --cursor-link: pointer !important;
    --cursor-menu-item: pointer !important;
    --cursor-radio: pointer !important;
    --cursor-slider-thumb: grab !important;
    --cursor-slider-thumb-active: grabbing !important;
    --cursor-switch: pointer !important;
}
  